[user]
  name = Jack Lewis
  email = jack@jacklew.is

[alias]
  # Add
  a = add
  aa = add -A

  # Branch
  b = branch
  bd = branch -D

  # Commit
  c = commit
  cm = commit -m
  ca = commit --amend -m

  # Checkout
  co = checkout
  com = checkout master
  cb = checkout -b

  # Clone
  cl = clone

  # Cherry-pick
  cp = cherry-pick

  # Diff
  di = diff
  dc = diff --cached
  d = diff HEAD --ignore-space-at-eol -b -w       # get all diffs, staged or not

  # Merge
  mm = merge master

  # Status
  s = status -s

  # Stash
  st = stash
  sd = stash show -p                                                # stash diff
  sp = stash pop
  stls = stash list

  # Pull
  pl   = pull
  plo  = pull origin
  plom = pull origin master

  # Push
  ps   = push
  pso  = push origin
  psom = push origin master
  psog = push origin gh-pages

  # Remote
  ra  = remote add
  rao = remote add origin
  rem = remote remove
  remo = remote remove origin

  # Reset
  r = reset
  trash = reset --hard HEAD

  # Logs
  l  = log --pretty=oneline --decorate --abbrev-commit --max-count=15
  ll = log --graph --pretty=format:'%Cred%h%Creset %an: %s %Creset%Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  ls = log --oneline --graph

[color]
  diff = auto
  status = auto

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added   = cyan bold
  branch  = cyan bold
  changed   = magenta bold
  deleted   = red bold
  untracked = yellow bold

[push]
  default = current

[core]
  preloadindex = true
  editor = nvim
  excludesfile = ~/.gitignore_global

[mergetool]
  path = nvim

[difftool]
  path = nvim

[mergetool "vimdiff"]
  path = nvim
[difftool "vimdiff"]
  path = nvim
[url "git@github.com:"]
	insteadof = https://github.com/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
